@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@800&display=swap");
.Productcardcontent:hover{
background-color:rgb(0, 0, 35);
color:rgb(33,106,208);
}
.Productcardcontent{
    font-family: Roboto;
    font-size: xx-large;
    transition: 2s;
    background-color: rgb(2,0,108);
    height: 300px;
    align-items: center;
}
.Productcard_div{
    margin-top:2%;
}
.main{
    display: inline-block;
    width:30%; 
    margin-top: -5%;  
}
