@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.main{
    color: rgb(250, 250, 250);
    background-color: #21262d;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.input{
    width: 180px;
    height:30px;
    background-color:#0d1117;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-left: 9px;
}

.tick{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color:#0d1117;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.fieldname{
    margin-bottom: 7px;
}

.container{
    display: inline-grid;
    grid-template-columns: 180px 30px 40px;
    border: 1px solid #30363d;
    border-radius: 6px;
    background-color:#0d1117;
}

.input:focus{
    outline: none !important;
}
.passwordtype{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color:#0d1117;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 30px;
    padding-right: 10px;
}
