@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@800&display=swap");
.main{
    background-color:#010409;
    width:100%;
    height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.signin{
width:340px;
background-color: #21262d;
padding-left: 30px;
padding-top: 30px;
padding-bottom: 30px;
border: 1px solid #30363d;
    border-radius: 6px;
 display:inline-block;

}
.fields{
    background-color: #161B22;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    transition: 2s;
    height: 250px;
}
.username{
    display: block;
    background-color: black;
    border-radius: 5px;
    border: solid;
}
.field{
    color:white;
    font-style: Roboto;
}
.MuiButton{
    width: 250px;
    background-color: #2F81F7;
}
.Callout{
    display: block;
}
