@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4{
  @apply text-lg
  }
  p{
    @apply font-light
  }
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
}

/*body intoduction*/
.hero {
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('./images/background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}